html,
body {
  height: 100%;
}

.toolbar {
  position: fixed;
  left: 20px;
  top: 50%;
  padding: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #eee;
}

.toolbar .btn,
.toolbar .color {
  margin: 2px 0;
  display: block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}

.toolbar .btn {
  margin: 4px 0;
}

.toolbar .btn.active, .toolbar .btn:hover {
  opacity: .8;
  background: #fff;
}

.toolbar .color.active {
  border-radius: 50%;
}

.toolbar .down {
  margin-top: 10px;
}
