
html,
body {
    height: 100%;
}

.toolbar {
    position: fixed;
    left: 20px;
    top: 50%;
    padding: 10px;
    transform: translateY(-50%);
    background: #eee;

    .btn,
    .color {
        margin: 2px 0;
        display: block;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        cursor: pointer;
        font-size: 20px;
    }

    .btn {
        margin: 4px 0;

        &.active,
        &:hover {
            opacity: .8;
            background: #fff;
        }
    }

    .color {
        &.active {
            border-radius: 50%;
        }   
    }

    .down {
        margin-top: 10px;
    }

}
